#strip{
    height : 1.5%;
    background-color : #251f83;
}
#header{
    background-color : #f4f8f9;
}
.logo{
   /* width : 40%; */
   /* height : 150%; */
   position : relative;
   /* top : 12px; */
   /* left : 130px; */
} 
nav{
   position : relative;
   top : 12px;
   float : right;
}